aside.menu-area{
    background-color: var(--bg-blue);
    box-shadow: 2px 0 10px 0 rgba(0,0,0,0.12);
    box-shadow: 2px 0 10px 0 rgba(0,0,0,0.09);
}

aside.menu-area .menu a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight:300px;
    padding: 15px;
}

.menu a:hover{
    background: linear-gradient(135deg, #315663 0%, #32dac3 100%);
}